
$main_color: #40c4ff;
$light_color: #82f7ff;
$dark_color: #0094cc;

$header-height-mobile: 100px;
$header-height-desktop: 130px;
$main-content-height-mobile: 130px;
$main-content-height-desktop: 160px;