@import "variables";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~font-awesome/css/font-awesome.min.css';

@import "display_properties";
@import "filtri-fixed-bar";
@import "sidebar";
@import "menu-button";
@import "header";
@import "footer";
@import "staff";
@import "loading-div";


.errors_div
{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  padding: 30px;
}

.no-pointer-events
{
  pointer-events: none;
}

.disable-edit
{
  display: none;
}