
@media screen and (min-width: 768px)
{
  .custom-header-fixed
  {
    height: $header-height-desktop !important;
  }

  .main-content
  {
    margin-top: $main-content-height-desktop !important;
  }
}

.custom-header-fixed
{
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;

  height: $header-height-mobile;
}

.main-content
{
  margin-top: $main-content-height-mobile;
}

@media screen and (max-width: 768px) {
    .shadow-on-mobile{
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}
