.percentInput { position:relative; display: inline-block; }
.percentInput span { position: absolute; top:2px; right: 4px; line-height:100%; vertical-align: middle; }
.num_percent { width:30px; text-align: left; padding-right: 15px; }
