@media screen and (min-width: 768px) {
  .show-on-mobile,
  .hide-on-desktop {
    display: none !important;
  }

  .show-on-desktop,
  .hide-on-mobile {
    display: block !important;
  }
}

.show-on-mobile,
.hide-on-desktop {
  display: block;
}

.show-on-desktop,
.hide-on-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none !important;
  }
}

.menu-toggle {
  display: block;
}

